.env
__pycache__
logs
rag_document/
rag_document_*
tmuh
snomed-venv
code-venv
test_*.json
test_results*
Benjamin.txt
*.ipynb
/output
test.py
*_test.py
data
*.csv
*.xlsx

llm-icd10pcs-reverse-inference.md

*.log

.claude
.gitlab-ci.yml
CLAUDE.md

backup